<%= render 'shared/page_header', title: t('sessions.titles.passkey_login') %>

<div class="center" style="margin: 2rem 0;">
  <button class="button" 
          data-controller="passkey-login"
          data-action="click->passkey-login#authenticate">
    <%= t('sessions.buttons.authenticate_with_passkey') %>
  </button>
</div>

<div class="center">
  <%= link_to t('sessions.links.back_to_login'), login_path %>
</div>