[submodule "gems/chobble-forms"]
	path = gems/chobble-forms
	url = git@github.com:chobbledotcom/chobble-forms.git
	branch = main
[submodule "gems/en14960"]
	path = gems/en14960
	url = git@github.com:chobbledotcom/en14960.git
	branch = main
[submodule "gems/en14960-assessments"]
	path = gems/en14960-assessments
	url = git@github.com:chobbledotcom/en14960-assessments.git
	branch = main
