[submodule "gems/chobble-forms"]
	path = gems/chobble-forms
	url = git@github.com:chobbledotcom/chobble-forms.git
[submodule "gems/en14960"]
	path = gems/en14960
	url = git@github.com:chobbledotcom/en14960.git
