<div class="safety-standard-info">
  <h4>EN 14960:2019 Material Requirements</h4>
  
  <h5>Fabric Requirements:</h5>
  <ul>
    <li>Tensile strength: 1850 Newtons minimum</li>
    <li>Tear strength: 350 Newtons minimum</li>
    <li>Fire retardancy: Must meet EN 71-3 requirements</li>
  </ul>

  <h5>Thread Requirements:</h5>
  <ul>
    <li>Material: Non-rotting yarn required</li>
    <li>Tensile strength: 88 Newtons minimum</li>
    <li>Stitch type: Lock stitching required</li>
    <li>Stitch length: 3-8mm</li>
  </ul>

  <h5>Rope Requirements:</h5>
  <ul>
    <li>Diameter range: 18mm - 45mm</li>
    <li>Material: Non-monofilament</li>
    <li>Attachment: Fixed at both ends</li>
    <li>Swing limitation: No greater than 20% to prevent strangulation</li>
  </ul>

  <h5>Netting Requirements:</h5>
  <ul>
    <li>Vertical mesh size: 30mm maximum for >1m height</li>
    <li>Roof mesh size: 8mm maximum</li>
    <li>Strength: Support heaviest intended user</li>
  </ul>
</div>