<header><h1><%= t('units.titles.edit') %></h1></header>

<article>
  <%= render 'form' %>

  <div class="delete-inspection">
    <%= button_to t('units.buttons.delete'), @unit, data: { turbo_method: :delete, turbo_confirm: t('units.messages.delete_confirm') } %>
  </div>
</article>
