<%
  # Field wrapper that adds visual indication for prefilled fields
  # Required parameters:
  #   prefilled: Boolean indicating if the field was prefilled from previous inspection
  #   wrapper_class: CSS class for the wrapper div (e.g. 'label', 'yes', 'comment')
  # Yields the field content

  raise ArgumentError, "wrapper_class is required for field_wrapper" unless local_assigns[:wrapper_class]

  classes = [wrapper_class]
  classes << "set-previous" if prefilled
  css_class = classes.join(" ")
%>

<div class="<%= css_class %>">
  <%= yield %>
</div>
