<%
  # Get i18n_base from section (already validated there)
  setup = form_field_setup(field, local_assigns, i18n_base: @_current_i18n_base)
  
  # Form field options
  step ||= 0.01
  min ||= nil
  max ||= nil
  required ||= false
  css_class ||= "form-control"
  wrapper_class ||= "form-group"
%>

<div class="<%= wrapper_class %>">
  <%= setup[:form_object].label field, setup[:field_label] %>
  <%= setup[:form_object].number_field field, {
    step: step,
    min: min,
    max: max,
    required: required,
    placeholder: setup[:field_placeholder],
    class: css_class
  }.compact %>
  <% if setup[:field_hint].present? %>
    <small class="form-text"><%= setup[:field_hint] %></small>
  <% end %>
</div>