<%
  # Get i18n_base from section (already validated there)
  setup = form_field_setup(field, local_assigns)

  step ||= 0.01
  min ||= nil
  max ||= nil
  required ||= false

  field_options = {
    step: step,
    min: min,
    max: max,
    required: required,
    placeholder: setup[:field_placeholder]
  }

  if setup[:prefilled]
    field_options[:value] = setup[:value]
  end
%>

<div class="number-field" id="<%= field %>">
  <%= setup[:form_object].label field, setup[:field_label] %>
  <%= setup[:form_object].number_field field, field_options.compact %>
  <% if setup[:field_hint].present? %>
    <small class="form-text"><%= setup[:field_hint] %></small>
  <% end %>
</div>
