<%
  form = @_current_form
  field_data = form_field_setup(field, local_assigns)
  checked_value = field_data[:prefilled] ? field_data[:value] : nil
%>

<div class="form-grid yes-no-radio">
  <%= render 'form/field_wrapper',
    prefilled: field_data[:prefilled],
    wrapper_class: 'label' do
  %>
    <label id="<%= field %>"><%= field_data[:field_label] %></label>
  <% end %>

  <%= render 'form/radio_pass_fail',
    field: field,
    prefilled: field_data[:prefilled],
    checked_value: checked_value
  %>

</div>
