<%
  # Use the standardized form field setup helper
  setup = form_field_setup(field, local_assigns, i18n_base: @_current_i18n_base)
  
  form_object = setup[:form_object]
  field_label = setup[:field_label]
  field_hint = setup[:field_hint]
  
  # Options should be array of [label, value] pairs
  # e.g. [["Pass", true], ["Fail", false]]
  options ||= []
%>

<div>
  <label><%= field_label %></label>
  <% options.each do |option_label, option_value| %>
    <label>
      <%= form_object.radio_button field, option_value, id: "#{field}_#{option_value}" %>
      <%= option_label %>
    </label>
  <% end %>
  <% if field_hint.present? %>
    <small><%= field_hint %></small>
  <% end %>
</div>