<%
  # Fail radio button partial
  # Required parameters:
  #   field: Field name (e.g., 'has_slide' or 'slide_platform_height_pass')
  #   prefilled: Whether the field has been prefilled
  #   checked_value: The currently checked value (true, false, or nil)
  #   i18n_key: The i18n key for the label (e.g., 'shared.fail' or 'shared.no')
  # Optional parameters:
  #   wrapper_class: Additional wrapper class (default: 'fail')
  
  form = @_current_form
  wrapper_class = local_assigns.fetch(:wrapper_class, 'fail')
%>

<%= render 'form/field_wrapper',
  prefilled: prefilled,
  wrapper_class: wrapper_class do
%>
  <label>
    <%= form.radio_button field,
      false,
      radio_button_options(prefilled, checked_value, false)
    %>
    <%= t(i18n_key) %>
  </label>
<% end %>