<!-- Form Actions -->
<div class="form-actions">
  <%= @_current_form.submit t('inspections.buttons.save_assessment'), class: "btn btn-primary" %>
</div>

<!-- Save Message Display -->
<div id="assessment_save_message"></div>