<%
  form = @_current_form
  field_data = form_field_setup(field, local_assigns)
  checked_value = field_data[:prefilled] ? field_data[:value] : nil
%>

<div class="form-grid radio-comment" id="<%= field %>">
  <label class="label"><%= field_data[:field_label] %></label>

  <%= render 'form/radio_pass_fail',
    field: field,
    prefilled: field_data[:prefilled],
    checked_value: checked_value,
    yes_no: true
  %>
</div>
