<header><h1><%= t('inspector_companies.titles.edit') %></h1></header>

<article>
  <%= render 'form' %>

  <div>
    <%= render 'archive_link', inspector_company: @inspector_company %>
  </div>
</article>