<div class="autosave-status" data-autosave-status>
  <span class="saving" style="display: none;"><%= t('autosave.saving') %></span>
  <span class="saved" style="display: none;"><%= t('autosave.saved') %></span>
  <span class="error" style="display: none;"><%= t('autosave.error') %></span>
</div>