<%
  # Get form object - either passed directly or from wrapper
  form_object = local_assigns[:form] || @_current_form
  
  # Smart i18n key detection
  if local_assigns[:i18n_base]
    i18n_base = local_assigns[:i18n_base]
  else
    # Auto-detect from controller and current tab context
    controller_name = params[:controller]
    if controller_name == 'inspections' && params[:tab].present?
      i18n_base = "inspections.assessments.#{params[:tab]}"
    else
      i18n_base = "#{controller_name}"
    end
  end
  
  # Set defaults with smart i18n lookup
  field_label = local_assigns[:label] || t("#{i18n_base}.fields.#{field}", default: field.to_s.humanize)
  field_hint = local_assigns[:hint] || t("#{i18n_base}.hints.#{field}", default: nil)
  
  # Form field options
  wrapper_class ||= "form-group"
  checkbox_class ||= "form-check-input"
  label_class ||= "form-check-label"
%>

<div class="<%= wrapper_class %>">
  <%= form_object.check_box field, class: checkbox_class %>
  <%= form_object.label field, field_label, class: label_class %>
  <% if field_hint.present? %>
    <small class="form-text"><%= field_hint %></small>
  <% end %>
</div>