<%
  # Get i18n_base from section (already validated there)
  setup = form_field_setup(field, local_assigns, i18n_base: @_current_i18n_base)
  
  # Form field options
  wrapper_class ||= "form-group"
  checkbox_class ||= "form-check-input"
  label_class ||= "form-check-label"
%>

<div class="<%= wrapper_class %>">
  <%= setup[:form_object].check_box field, class: checkbox_class %>
  <%= setup[:form_object].label field, setup[:field_label], class: label_class %>
  <% if setup[:field_hint].present? %>
    <small class="form-text"><%= setup[:field_hint] %></small>
  <% end %>
</div>