<%
  # Form errors component - displays validation errors for any model object
  model_object = local_assigns[:model] || local_assigns[:object]
  raise ArgumentError, "model object is required for form errors" if model_object.nil?
  
  # Get model name for i18n keys
  model_name = model_object.class.model_name.singular
  
  # Custom header text or use i18n lookup - no fallbacks
  header_text = local_assigns[:header] || 
                t("#{model_name.pluralize}.errors.header", 
                  count: model_object.errors.count, 
                  raise: true)
%>

<% if model_object.errors.any? %>
  <aside class="form-errors" role="alert">
    <h3><%= header_text %></h3>
    <ul>
      <% model_object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </aside>
<% end %>