<nav id="<%= local_assigns[:nav_id] || 'action_tabs' %>">
  <ul>
    <% actions.each do |action| %>
      <li>
        <%= link_to action[:path],
                    class: action[:danger] ? 'danger' : nil,
                    data: action[:data],
                    target: action[:target] do %>
          <strong><%= action[:label] %></strong>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
