<div class="actions">
  <% actions.each do |action| %>
    <% if action[:button] || action[:method].in?([:post, :patch, :put, :delete]) %>
      <%= button_to action[:label],
                    action[:url], 
                    method: action[:method] || :post,
                    params: action[:params] || {},
                    class: "button #{action[:danger] ? 'danger' : ''}",
                    data: { turbo_confirm: action[:confirm] } %>
    <% else %>
      <%= link_to action[:label],
                  action[:url], 
                  class: "button #{action[:danger] ? 'danger' : ''}",
                  target: action[:target],
                  data: action[:data] %>
    <% end %>
  <% end %>
</div>
