<!-- Save Message Display -->
<%
  # Handle the message and type parameters
  message_text = local_assigns[:message]
  message_type = local_assigns[:type] || (local_assigns[:errors].present? ? "error" : "success")
%>

<% if message_type == "error" %>
  <div class="error" id="form_save_message">
    <%= message_text || t('shared.messages.save_failed') %>
  </div>
<% else %>
  <div class="success" id="form_save_message">
    <%= message_text || t('shared.messages.saved_successfully') %>
    <% if local_assigns[:next_tab] && local_assigns[:inspection] %>
      <br>
      <% if local_assigns[:is_current_tab] && local_assigns[:incomplete_count] %>
        <%= link_to t('inspections.buttons.continue_to_tab_with_incomplete', 
                      count: local_assigns[:incomplete_count],
                      tab_name: t("forms.#{local_assigns[:next_tab]}.header")),
              edit_inspection_path(local_assigns[:inspection], 
                                   tab: local_assigns[:next_tab]) + "#tabs" %>
      <% else %>
        <%= link_to t('inspections.buttons.continue_to_tab', 
                      tab_name: t("forms.#{local_assigns[:next_tab]}.header")),
              edit_inspection_path(local_assigns[:inspection], 
                                   tab: local_assigns[:next_tab]) + "#tabs" %>
      <% end %>
    <% end %>
  </div>
<% end %>
