<!-- Save Message Display -->
<div id="<%= dom_id || "save_message" %>" class="save-message">
  <% if defined?(success) && success %>
    <div class="success-message">
      <%= success_message || t('shared.messages.saved_successfully') %>
    </div>
  <% end %>
  
  <% if defined?(errors) && errors.present? %>
    <div class="error-message">
      <%= error_message || t('shared.messages.save_failed') %>
      <% if errors.is_a?(Array) && errors.any? %>
        <ul>
          <% errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>