<%
  # Shared image link partial for linking to full-size images
  # Required locals: image (ActiveStorage attachment)
  # Optional locals: alt (alt text), link_text (text to show for link)
  
  image_attachment = local_assigns[:image]
  alt_text = local_assigns[:alt] || ""
  link_text = local_assigns[:link_text] || t('shared.view_full_size')
  
  return unless image_attachment&.attached?
%>

<div>
  <%= link_to rails_blob_path(ImageProcessorService.full_size(image_attachment), disposition: "inline") do %>
    <%= render 'shared/image', image: image_attachment, size: :thumbnail, alt: alt_text %>
    <p><small><%= link_text %></small></p>
  <% end %>
</div>