<%= render 'shared/page_header', title: t('inspector_companies.titles.edit') %>

<article>
  <%= render 'form' %>

  <div>
    <%= render 'archive_link', inspector_company: @inspector_company %>
  </div>
</article>