<%= render 'shared/page_header', title: t('units.titles.edit') %>

<article>
  <%= render 'form' %>

  <% if @unit.deletable? %>
    <div class="delete-inspection">
      <%= button_to t('units.buttons.delete'), @unit, data: { turbo_method: :delete, turbo_confirm: t('units.messages.delete_confirm') } %>
    </div>
  <% end %>
  
</article>
