<header>
  <h1><%= @title %></h1>
</header>

<nav>
  <%= link_to I18n.t("units.links.back_to_unit"), @unit %>
</nav>

<%= render 'shared/audit_log', 
    events: @events, 
    resource_name: 'unit' %>