<%= render 'shared/page_header', title: t('units.titles.search_results') %>

<section>
  <%= render "search_form" %>
</section>

<p><%= @units.count %> unit records found.</p>

<% if @units.any? %>
  <%= render 'unit_table', unit: @units %>
<% end %>
