.logo {
  text-align: center;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  color: var(--color-link);
  font-size: 1.5rem;
  font-family: var(--font-family-secondary);
}

.logo img {
  width: 32px;
  height: 32px;
}
