nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 50rem;
  max-width: 90%;
  margin: 2rem auto;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 0;
  margin: 0;
}

nav ul li,
nav ul li a,
nav ul li button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

nav ul li a,
nav ul li button {
  background: none;
  color: var(--color-link);
  text-decoration: underline;
  position: relative;
  font-weight: normal;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

nav ul li a:hover,
nav ul li button:hover {
  transform: none;
  box-shadow: none;
}

nav form.button_to {
  margin: 0;
  min-width: fit-content;
}

nav a,
nav button {
  transition: all 0.2s ease !important;
  position: relative;
  transform: translateY(0);
  display: inline-block;
  padding: 0.5rem !important;
}

nav span {
  display: block;
  padding: 0.5rem;
  color: var(--color-link);
  border: 2px solid var(--color-link);
  text-decoration: none;
  cursor: default;
  text-align: center;
  box-sizing: border-box;
}
