<% if !inspection.complete? && !inspection.can_be_completed? %>
  <div class="completion-status-notice">
    <h4>Completion Status</h4>
    <p>The following assessments are not yet complete:</p>
    <ul>
      <% inspection.get_missing_assessments.each do |missing| %>
        <li><%= missing %></li>
      <% end %>
    </ul>
    <p><strong>Note:</strong> You can mark this inspection as complete once these jobs have been completed.</p>
  </div>
<% end %>