<h1>Search Results</h1>

<section>
  <%= render "search_form" %>
</section>

<p><%= @equipment.count %> equipment records found.</p>

<% if @equipment.any? %>
  <%= render 'equipment_table', equipment: @equipment %>
<% end %>
