name: "Security: Vulnerability Scanning"

permissions:
  contents: read

on:
  pull_request:
  merge_group:
  schedule:
    - cron: '0 0 * * 0'  # Weekly scan on Sundays

jobs:
  scan_ruby:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Scan for common Rails security vulnerabilities
        run: bin/brakeman --no-pager

  scan_js:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - name: Scan for security vulnerabilities in JavaScript dependencies
        run: bin/importmap audit