<% if @anchors_result %>
  <%= render 'result_with_breakdown',
    result_label: t('safety_standards.calculators.anchor.required_result'),
    result: @anchors_result %>
<% elsif @anchors_error %>
  <div class="error">
    <p><strong><%= t('shared.error') %>:</strong> <%= @anchors_error %></p>
  </div>
<% end %>
