<article id="fan" class="tab-panel">
  <h2><%= t('safety_standards_tabs.fan.title') %></h2>
  
  <%= render 'shared/safety_card', i18n_key: 'fan.general_requirements' %>
  <%= render 'shared/safety_card', i18n_key: 'fan.grounding_test' %>
</article>