<% if @slide_runout_result %>
  <%= render 'result_with_breakdown',
    result_label: t('safety_standards.calculators.runout.required_runout_result'),
    result: @slide_runout_result %>
<% elsif @slide_runout_error %>
  <div class="error">
    <p><strong><%= t('shared.error') %>:</strong> <%= @slide_runout_error %></p>
  </div>
<% end %>